#if($ctx.error)
  $util.error($ctx.error.message, $ctx.error.type)
#end
#if($ctx.result.statusCode == 200)
  #set( $result = $util.parseJson($ctx.result.body) )
  $util.toJson({"cognitoUserID":$result.User.Username, "stripeCustomerID": "0"})
#else
  $util.toJson({"cognitoUserID":"0"})
#end
